/* styles.css */

.chat-container {
    display: flex;
    height: 95.2vh;
    /* Full height of the viewport */
}

.user-list {
    width: 30%;
    /* Adjust the width as needed */
    border-right: 1px solid #d1d5db;
    /* Optional: Add a border to separate the user list from the chat content */
    overflow-y: auto;
    /* Enable vertical scrolling if the user list is long */
    padding: 10px;
}

.chat-content {
    flex: 1;
    /* Takes up the remaining space */
    overflow-y: auto;
    /* Enable vertical scrolling for chat content */
}
