<header class="header">
  <nav>
      <ul class="nav-links">
          <li *ngFor="let item of (itemLinks$ | async); trackBy: trackFn">
              <a *ngIf="item.isViewInHeader" [routerLink]="item.currentPath??item.basePath" [ngClass]="{'selected': item.isSelected}">
                  {{ item.name }}
              </a>
          </li>
      </ul>
  </nav>

  <a [routerLink]="'/profile'" class="user-info" *ngIf="userInfo$ | async as log">
    <span class="user-name">{{ userFullName(log.name) }}</span>
    <img [src]="'assets/avatar.jpg'" alt="{{ userFullName(log.name) }}" class="user-image">
  </a>

</header>
