<header class="header">
    <nav>
        <ul class="nav-links">
            <li *ngFor="let item of (itemLinks$ | async); trackBy: trackFn">
                <a *ngIf="item.isViewInHeader" [ngClass]="{'selected': item.isSelected}"
                   [routerLink]="resolveUrl(item).path"
                   [queryParams]="resolveUrl(item).queryParams">
                   {{ item.name }}
                </a>
            </li>
        </ul>
    </nav>
    <div *ngIf="userInfo$ | async as user" class="user-profile">
        <a [ngClass]="{'selected': true}" [routerLink]="'/profile'">
            <img
                    [src]="'assets/avatar.jpg'"
                    alt="{{ userFullName(user.name) }}"
            />
            {{ userFullName(user.name) }}
        </a>
    </div>
</header>
