.header {
    display: flex;
    justify-content: space-between; /* Ensure space between nav links and user info */
    align-items: center; /* Vertically center items */
    padding: 10px 20px;
    color: white;
    font-family: 'Inter', serif;
    backdrop-filter: blur(14px);
    background-color: rgba(37, 38, 40, .21);
    background-image: radial-gradient(circle at 25%, hsla(0, 0%, 100%, .2), rgba(50, 50, 50, .2) 80%);
}

.header .nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header .nav-links li {
    margin-left: 20px;
}

.header .nav-links li:first-child {
    margin-left: 0;
}

.header .nav-links a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background 0.3s;
}

.header .nav-links a:hover {
    background-color: hsla(0, 0%, 100%, .3);
}

.header .nav-links .selected {
    background-color: hsla(0, 0%, 100%, .3);
}

.user-info {
    display: flex;
    align-items: center; /* Center user info vertically */
    background-color: hsla(0, 0%, 100%, .3);
    border-radius: 30px; /* Adjust the value as needed for desired roundness */
}


.user-info .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-left: 10px;
}

.user-info .user-name {
    font-size: 1em;
    font-weight: normal;
    margin-left: 10px;
}
