.text-input
{
  width: 100%;
}
.text-input input
{
  font-family: 'Inter', serif;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.text-input input.is-invalid {
  border-color: red;
}
