.search-container, .search-result {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.search-item {
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
}

.search-result::-webkit-scrollbar {
    width: 0px;
}

.search-result::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.search-result::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.search-result
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.fadeIn-Animation {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
