.message-request-container {
  display: flex;
  height: 100%;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  flex-direction: row;
  gap: 30px;
}

.message-requests {
  border-radius: 4px;
  overflow-y: auto;
  width: 25%;
  background-color: hsla(0, 0%, 100%, .3);

}

.view-profile {
  border-radius: 4px;
  overflow-y: auto;
  width: 75%;
  background-color: hsla(0, 0%, 100%, .3);
}

.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 1300px)
{
  .message-requests {
    width: 25%;

  }

  .view-profile {
    width: 75%;
  }
}

@media (max-width: 1200px)
{
  .message-requests {
    width: 26%;
  }

  .message-request-container{
    gap: 30px;
  }

  .view-profile {
    width: 74%;
  }
}

@media (max-width: 1100px)
{
  .message-requests {
    width: 29%;

  }

  .message-request-container{
    gap: 20px;
  }

  .view-profile {
    width: 71%;
  }
}

@media (max-width: 900px)
{
  .message-requests {
    width: 30%;

  }

  .message-request-container{
    gap: 15px;
    padding: 20px;
  }

  .view-profile {
    width: 70%;
  }
}

@media (max-width: 800px)
{
  .message-requests {
    width: 36%;

  }

  .message-request-container{
    gap: 10px;
    padding: 10px;
  }

  .view-profile {
    width: 64%;
  }
}