.message-request-container{
  display: flex;
}
.message-requests{
  margin: 30px 2%;
  border-radius: 4px;
  min-height: calc(100vh - 110px);
  min-width: 28%;
  overflow-y: auto;
  padding: 10px;
  background-color: hsla(0, 0%, 100%, .3);
}

.view-profile {
  border-radius: 4px;
  min-height: calc(100vh - 105px);
  min-width: 63%;
  margin: 30px 2%;
  background-color: hsla(0, 0%, 100%, .3);
  height: 100%;
  overflow-y: auto;
}

.empty-message {
  align-items: center;
  justify-content: center;
  height: 100%; /* Full height of the parent container */
  width: 100%; /* Ensures centering works horizontally as well */
  text-align: center;
  color: rgba(0, 0, 0, 0.6); /* Text visibility */
  font-size: 1.2rem; /* Readable font size */
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
