.message-request-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 45px);
  padding: 30px;
}

.message-requests {
  border-radius: 4px;
  overflow-y: auto;
  background-color: hsla(0, 0%, 100%, .3);

}

.view-profile {
  border-radius: 4px;
  overflow-y: auto;
  background-color: hsla(0, 0%, 100%, .3);
}

.empty-message {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1.2rem;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (min-width: 750px) {
  .message-request-container {
    flex-direction: row;
  }

  .message-requests {
    min-width: 25%;
    min-height: calc(100vh - 105px);
    margin-right: 10px;
  }

  .view-profile {
    min-width: 73.8%;
    min-height: calc(100vh - 105px);
    margin-left: 10px;
  }
}

@media (max-width: 750px) {
  .message-requests {
    margin-bottom: 10px;
    min-height: 500px;
  }

  .view-profile {
    margin-top: 10px;
    min-width: calc(100vw - 60px);
    min-height: 500px;
  }
}
