.message-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
    max-width: 60%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.self {
    background: linear-gradient(135deg, #d1ffd6, #a3ffb2);
    margin-left: 75%;
    text-align: right;
    border-radius: 8px 8px 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
}

.other {
    background-color: #f1f1f1;
    margin-right: 75%;
    text-align: left;
    border-radius: 8px 8px 0 8px;
    padding: 10px 15px;
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.author {
    font-weight: bold;
    color: #333;
}

.date-time {
    font-size: 0.8em;
    color: #999;
}

.message-body {
    font-size: 1em;
    color: #555;
}

.message-card.self .author {
    color: #2c662d;
}

.message-card.self .date-time {
    color: #2c662d;
}

@media screen and (max-width: 768px) {
    .other {
        margin-right: 75%;
    }

    .self {
        margin-left: 75%;
    }
}

@media screen and (max-width: 390px) {
    .other {
        margin-right: 50%;
    }

    .self {
        margin-left: 55%;
    }
}