.message-card {
    font-family: 'Thin';
    border-radius: 8px;
    padding: 10px;
    max-width: 100%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.self {
    margin-left: 60%;
    text-align: right;
    border-radius: 8px 8px 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    background-color:rgba(62, 51, 51, 0.267);

}

.other {
    margin-right: 60%;
    text-align: left;
    border-radius: 8px 8px 0 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    backdrop-filter: blur(14px);
}

.message-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.author {
    font-weight: bold;
    color: #333;
}

.date-time {
    font-size: 0.8em;
    color: #fffdfd;
}

.message-body {
    color: #000000;
}

.message-card.self .author {
    color: #2c662d;
}

.message-card.self .date-time {
    color: #2c662d;
}