.chat-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.chat-list-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    gap: 5px;
    padding: 10px;
    box-sizing: border-box;
}

.new-chat-container {
    width: 100%;
    height: 5%;
}

.user-list{
    height: 95%;
    width: 100%;
    border-radius: 4px;
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 100%, .3);
}

.chat-list-content-container
{
    width: 75%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.chat-message-container{
    height: 100%;
    width: 100%;
    border-radius: 4px;
    backdrop-filter: blur(8px);
    background-color: hsla(0, 0%, 100%, .3);
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
