<div class="profile-container">
    <div *ngIf="user$ | async as user"  class="profile-info">
            <div class="profile-pic">
                <img [src]="'assets/avatar.jpg'" alt="{{ user.name }}" class="user-image">
            </div>
            <div class="profile-details">
                <app-drop-down-list [data]="titleDdl" class="text-input"></app-drop-down-list>
                <app-text-input [data]="firstNameInput" class="text-input"></app-text-input>
                <app-text-input [data]="middleNameInput" class="text-input"></app-text-input>
                <app-text-input [data]="lastNameInput" class="text-input"></app-text-input>
                <app-text-input [data]="emailInput" class="text-input"></app-text-input>
                <app-password-input [data]="passwordInput" class="text-input"></app-password-input>
                <div class="actions">
                    <button (click)="toggleEdit()" *ngIf="!isEditable" class="btn btn-primary" type="button">Update
                    </button>
                    <button (click)="toggleEdit()" *ngIf="isEditable" class="btn btn-primary" type="button">Cancel
                    </button>
                    <button (click)="onUpdate()" *ngIf="isEditable" class="btn btn-success" type="submit">Save</button>
                    <button (click)="onLogout()" class="btn btn-secondary" type="button">Logout</button>
                </div>
            </div>
    </div>
</div>
