.profile-container {
    min-height: calc(100vh - 45px);
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}





.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 90px);
    min-width: calc(100vw - 50px);
    max-height: calc(100vh - 90px);
    max-width: calc(100vw - 50px);
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Medium';
    backdrop-filter: blur(14px);
    background-image: radial-gradient(circle at 25%, hsla(0, 0%, 100%, 0.355), rgba(50, 50, 50, .2) 80%);
    background-color: rgba(81, 81, 94, 0.21);
}

.profile-pic {
    flex: 0 0 auto;
    display: flex;
    
    min-height: calc(100vh - 210px);
    min-width: calc(100vw - 900px);
    
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    margin-right: 20px; /* Space between the picture and details */
}

.profile-pic img {
    object-fit: fill;
    border-radius: 50%;
    width: 250px; /* Set a fixed width for the image */
    height: 250px; /* Set a fixed height for the image */
}

.profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    border-radius: 8px;
    padding: 20px;
}

.user-image {
    object-fit: fill;
    border-radius: 50%;
}
.form-group {
    margin-bottom: 15px;
}
form {
    min-width:400px;
    margin: 0 auto;
    font-family: 'Medium';
    padding: 20px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .3);
  }
  

.actions {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Medium';
    font-weight: bold;
  }
  
  /* Styling for form control elements */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }