.profile-container {
    min-height: calc(100vh - 45px);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 80%;
    margin: 40px;
    padding: 90px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-family: 'Medium';
    backdrop-filter: blur(14px);
    background-image: radial-gradient(circle at 25%, hsla(0, 0%, 100%, 0.355), rgba(50, 50, 50, .2) 80%);
    background-color: rgba(81, 81, 94, 0.21);
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
    float: left;
    border-radius: 8px;
    border: 10px solid rgb(217, 8, 8);
}

.profile-details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    float: right;
    border-radius: 8px;
    border: 10px solid rgb(217, 8, 8);
    padding: 20px;
}

.user-image {
    width: 40vh;
    height: auto;
    border-radius: 50%;
}
.form-group {
    margin-bottom: 15px;
}
form {
    min-width:400px;
    margin: 0 auto;
    font-family: 'Medium';
    padding: 20px;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .3);
  }
  

.actions {
    margin-top: 20px;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
  }
  label {
    display: block;
    margin-bottom: 5px;
    font-family: 'Medium';
    font-weight: bold;
  }
  
  /* Styling for form control elements */
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }