.chat-container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    background-color: #fafafa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chat-container p {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.messages {
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* Space between messages */
    overflow-y: auto;
    max-height: 500px;
    /* Adjust as necessary */
    padding-right: 10px;
    /* Space for scrollbar */
}

.app-message-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 390px) {
    .chat-container {
        width: 100%;
    }
}