<div style="height: 10px;"></div>
<div class="chat-container ">
    
    <div  *ngIf="room$ | async as room" >
        <div *ngIf="room">
            <div class="room-name">{{room.roomName}}</div>

            <div #scrollframe class="messages" >
                <div  *ngFor="let item of room?.messages || []; let i = index" >
                    <app-message-card [msg]="item"></app-message-card>
                </div>
            </div>

            <div style="height: 5px;"></div>
            <div>
                <app-message-input [roomId]="room.roomId"></app-message-input>
            </div>
        </div>
    </div> 

</div>

<!-- 
<div style="height: 10px;"></div>
<div class="chat-container ">
    
    <div  *ngIf="room$ | async as room" >
        <div *ngIf="room">
            <div class="room-name">{{room.roomName}}</div>

            <div #scrollframe  >
                <cdk-virtual-scroll-viewport itemSize="50" class="messages" >
                    <div *cdkVirtualFor="let item of room?.messages || []; let i = index">
                        <app-message-card [msg]="item"></app-message-card>
                    </div>
                </cdk-virtual-scroll-viewport>
            </div>


            <div style="height: 5px;"></div>
            <div>
                <app-message-input [roomId]="room.roomId"></app-message-input>
            </div>
        </div>
    </div> 
</div> -->