.sign-in {
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
}

.sign-in h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.username-password-input
{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
  flex-direction: column;
}

.username-name,.password-input
{
  width: 100%;
}

.sign-up-log-in-button
{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter', serif;
}

.btn-sign-up {
  background-color: green;
  color: white;
}

.btn-log-in {
  background-color: #007bff;
  color: white;
}