<div class="sign-in">
    <h2>Log in account</h2>
    <div class="username-password-input">
        <app-text-input [data]="usernameInput" class="username-name"></app-text-input>
        <app-password-input [data]="passwordInput" class="password-input"></app-password-input>
    </div>
    <div class="sign-up-log-in-button">
        <button (click)="logIn()" class="btn btn-log-in">
            Log In
        </button>
        <button (click)="signUp()" class="btn btn-sign-up">
            Sign Up
        </button>
    </div>

</div>

