.message-request-layout {
  background-image: url('../../../assets/images/wallpaper.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  min-width:  100vh;
}
