.sign-up {
  flex-grow: 1;
  min-width: 350px;
  max-width: 500px;
  min-height: 400px;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sign-up h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.name-input {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 10px;
}

.title-first-name, .middle-name-last-name , .email-dob
{
  display: flex;
  flex-direction: row;
}
.middle-name-last-name .text-input{
  max-width: 200px;
}

.title-ddl, .text-input, .date-input, .password-input {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.title-ddl
{
  max-width: 130px;
}

.date-input{
  max-width: 170px;
}

.title-ddl select,
.text-input input,
.date-input input,
.password-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Inter', serif;
  font-size: 14px;
}

.invalid-feedback {
  color: red;
  font-family: 'Inter', serif;
  font-size: 0.875rem;
  margin-top: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: 'Inter', serif;
}

.btn-primary {
  background-color: green;
  color: white;
  margin-left: 10px;
}

.btn-sign-in {
  margin-right: 10px;
  background-color: #007bff;
  color: white;
}

.btn-sign-in:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.btn-primary:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spinner-border {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .name-input {
    flex-direction: column;
  }

  .title-first-name,.middle-name-last-name,.email-dob{
    flex-direction: column;
  }

  .title-ddl, .text-input, .date-input, .password-input {
    max-width: 300px;
  }

  .middle-name-last-name .text-input{
    max-width: 300px;
  }


  .btn {
    width: 250px;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
  }

  .form-group {
    flex-direction: column;
    align-items: center;
  }

  .sign-up{
    min-width: 300px;
    max-width: 300px;
  }
}
