.sign-up {
  flex-grow: 1;
  min-width: 350px;
  background-color: hsla(0, 0%, 100%, 0.3);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.sign-up h2 {
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}

.name-input {
  display: flex;
  gap: 10px;
  flex-direction: column;
  margin-bottom: 15px;
}

.title-first-name
{
  display: flex;
  flex-direction: row;
}

.middle-name-last-name
{
  display: flex;
  flex-direction: row;
}

.title-ddl, .text-input, .password-input {
  flex: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.title-ddl
{
  max-width: 150px;
}

.title-ddl select,
.text-input input,
.password-input input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.invalid-feedback {
  color: red;
  font-size: 0.875rem;
  margin-top: 5px;
}

.btn {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  margin-left: 10px;
}
.btn-cancel{
  margin-right: 10px;
  background-color: green;
  color: white;
}

.btn-primary:disabled {
  background-color: #6c757d;
  cursor: not-allowed;
}

.btn-link {
  background: none;
  color: #007bff;
  text-decoration: none;
  margin-left: 10px;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.spinner-border {
  margin-right: 5px;
}

@media (max-width: 768px) {
  .name-input {
    flex-direction: column;
  }

  .middle-name-last-name{
    flex-direction: column;
  }

  .title-first-name{
    flex-direction: column;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .form-group {
    flex-direction: column;
    align-items: center;
  }
}
