<div class="sign-up">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h2>Register</h2>

    <div class="name-input">

      <div class="title-first-name">
        <div class="title-ddl">

          <label for="title">Title</label>

          <select formControlName="title"  [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
            <option value="">Select Title</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
          </select>

          <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors?.['required']">Title is required</div>
          </div>
        </div>

        <div class="text-input">
          <label for="firstName">First Name</label>
          <input type="text" formControlName="firstName"  [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors?.['required']">First Name is required</div>
          </div>
        </div>
      </div>


      <div class="middle-name-last-name">
        <div class="text-input">
          <label for="middleName">Middle Name</label>
          <input type="text" formControlName="middleName"  />
        </div>

        <div class="text-input">
          <label for="lastName">Last Name</label>
          <input type="text" formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors?.['required']">Last Name is required</div>
          </div>
        </div>
      </div>
    </div>

    <div class="text-input">
      <label for="email">Email</label>
      <input type="email" formControlName="email"  autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
      <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
        <div *ngIf="f['email'].errors?.['required']">Email is required</div>
        <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
      </div>
    </div>

    <div class="password-input">
      <label for="password">Password</label>
      <input type="password" formControlName="password" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
      </div>
    </div>


      <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Apply
          </button>
          <a [routerLink]="'/welcome/signInAccount'" class="btn btn-cancel">Sign-In</a>
      </div>
  </form>
</div>

