<div class="sign-up">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">


    <h2>Create a new account</h2>

    <div class="name-input">

      <div class="title-first-name">
        <div class="title-ddl">

          <select formControlName="title"  [ngClass]="{ 'is-invalid': submitted && f['title'].errors }">
            <option value="">Select title</option>
            <option value="Mr">Mr</option>
            <option value="Ms">Ms</option>
          </select>

          <div *ngIf="submitted && f['title'].errors" class="invalid-feedback">
            <div *ngIf="f['title'].errors?.['required']">Title is required</div>
          </div>
        </div>

        <div class="text-input">
          <input type="text" placeholder="Enter your first name"  formControlName="firstName" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
          <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
            <div *ngIf="f['firstName'].errors?.['required']">First name is required</div>
          </div>
        </div>
      </div>

      <div class="middle-name-last-name">
        <div class="text-input">
          <input placeholder="Enter your middle name" type="text" formControlName="middleName"  />
        </div>

        <div class="text-input">
          <input type="text" placeholder="Enter your last name"  formControlName="lastName" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
          <div *ngIf="submitted && f['lastName'].errors" class="invalid-feedback">
            <div *ngIf="f['lastName'].errors?.['required']">Last name is required</div>
          </div>
        </div>
      </div>
    </div>

    <div class="email-dob">
      <div class="text-input">
        <input type="email" placeholder="Enter a valid email" formControlName="email"  autocomplete="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
        <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
          <div *ngIf="f['email'].errors?.['required']">Email is required</div>
          <div *ngIf="f['email'].errors?.['email']">Email must be a valid email address</div>
        </div>
      </div>

      <div class="date-input">
        <input placeholder="DOB" type="date" formControlName="dob"  autocomplete="dob" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
        <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
          <div *ngIf="f['dob'].errors?.['required']">Dob is required</div>
        </div>
      </div>
    </div>

    <div class="password-input">
      <input placeholder="Enter a strong password" type="password" formControlName="password" autocomplete="new-password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" />
      <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
        <div *ngIf="f['password'].errors?.['required']">Password is required</div>
      </div>
    </div>

    <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Apply
          </button>
          <button [disabled]="loading" class="btn btn-sign-in">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign In
          </button>
      </div>
  </form>
</div>

