<div class="sign-up">
  <h2>Create a new account</h2>
  <div class="name-input">
    <div class="title-first-name">
      <app-drop-down-list class="title-input" [data]="firstNameInput"></app-drop-down-list>
      <app-text-input class="first-name" [data] = "firstNameInput"></app-text-input>
    </div>
    <div class="middle-name-last-name">
      <app-text-input class="middle-name" [data] = "middleNameInput"></app-text-input>
      <app-text-input class="last-name" [data] = "lastNameInput"></app-text-input>
    </div>
  </div>
  <div class="email-dob">
    <app-text-input class="email-input" [data] = "emailInput"></app-text-input>
    <app-date-time-picker class="dob-input"></app-date-time-picker>
  </div>
  <app-password-input class="password-input" [data]="passwordInput"></app-password-input>

  <div class="apply-sign-in-button">
    <button [disabled]="loading" class="btn btn-apply">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Apply
    </button>
    <button [disabled]="loading" class="btn btn-sign-in">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Sign In
    </button>
  </div>

</div>

